---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>marixc</h1>
  <p><i>Inspired by the kanagawa colors</i></p>
  <div class="bubble">
    My blog post is written in pure JavaScript to escape the web framework hell.
  </div>
  I'm also a strong proponent of Linux and open-source software, as well as developer
  efficiency and the tools that support it. So don’t be surprised if you come across
  posts about those or general computer science topics as well.
</BaseLayout>
